Normalize RFC 4007 delimiter for IPv6 Zone IDs

RFC 4007 allows `%` as the delimiter for IPv6 zone IDs whereas RFC 6874 specifically uses `%25` to comply with the host component rules in RFC 3986. We need to assume 6874 and normalize 4007 -> 6874. See discussion in urllib3/urllib3#1531.

I think we want to support them in-so-much-as being able to normalize to the correct syntax and such, right? I think I'm worried about the "We need to ... accept ... 4007" bit because I'm not sure what acceptance means today

Sure, I'll change the problem statement to normalize. We don't want to validate these URLs as 3986 compliant.

Discovered an issue with where we're doing the IPv6 Zone ID validation that makes normalization not work as we want it to.

What is "lazy_normalize"?

Controls whether the internal uri reference is normalized after parsing.